**/.env
**/.idea
**/__pycache__
**/*.py[cod]
**/.git
**/README.md
**/LICENSE
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/frontend
**/website
**/dist
**/server/.env
**/__pycache__
**/*.py[cod]
**/*.log
**/server/*.secret.json
**/firebase-credentials.json
**/server/firebase-credentials.json
**/node_modules
**/scripts/
**/.venv
.github
docs
