---
import DashboardRoomList from "../../components/DashboardRoomList";
import Header from "../../components/Header";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Waiting Room Dashboard}</title>
  </head>
  <body>
    <main
      class="min-h-screen w-full bg-gradient-to-l from-purple-600 to-indigo-600"
    >
      <Header title="Waiting Room Dashboard" />
      <h1 class="p-4 text-center text-4xl font-bold text-white">
        Waiting Rooms
      </h1>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-3xl">
          <DashboardRoomList client:only="react" />
        </div>
      </div>
    </main>
  </body>
</html>
