anyio==3.6.2 ; python_version >= "3.10" and python_version < "4.0"
asyncache==0.3.1 ; python_version >= "3.10" and python_version < "4.0"
asyncer @ git+https://github.com/tiangolo/asyncer.git@bf0ae5c4f7977863e5de9d8cd45b8965d925e3b1 ; python_version >= "3.10" and python_version < "4.0"
cachecontrol==0.13.0 ; python_version >= "3.10" and python_version < "4.0"
cachetools==5.3.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.5.7 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
cryptography==41.0.1 ; python_version >= "3.10" and python_version < "4.0"
dnspython==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
email-validator==2.0.0.post2 ; python_version >= "3.10" and python_version < "4.0"
fastapi==0.95.2 ; python_version >= "3.10" and python_version < "4.0"
firebase-admin==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
google-api-core==2.11.0 ; python_version >= "3.10" and python_version < "4.0"
google-api-core[grpc]==2.11.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "PyPy"
google-api-python-client==2.88.0 ; python_version >= "3.10" and python_version < "4.0"
google-auth-httplib2==0.1.0 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.17.3 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-core==2.3.2 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-firestore==2.11.1 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "PyPy"
google-cloud-storage==2.9.0 ; python_version >= "3.10" and python_version < "4.0"
google-crc32c==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
google-resumable-media==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
googleapis-common-protos==1.59.0 ; python_version >= "3.10" and python_version < "4.0"
grpcio-status==1.54.2 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "PyPy"
grpcio==1.54.2 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "PyPy"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
httpcore==0.17.2 ; python_version >= "3.10" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.24.1 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.5 ; python_version >= "3.10" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
prisma==0.8.2 ; python_version >= "3.10" and python_version < "4.0"
proto-plus==1.22.2 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "PyPy"
protobuf==4.23.2 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.8 ; python_version >= "3.10" and python_version < "4.0"
pydantic[email]==1.10.8 ; python_version >= "3.10" and python_version < "4.0"
pyjwt[crypto]==2.7.0 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
setuptools==67.8.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.27.0 ; python_version >= "3.10" and python_version < "4.0"
tomlkit==0.11.8 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.6.2 ; python_version >= "3.10" and python_version < "4.0"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.0.2 ; python_version >= "3.10" and python_version < "4.0"
uvicorn==0.22.0 ; python_version >= "3.10" and python_version < "4.0"
