---
import Auth from "../components/Auth";
import Header from "../components/Header";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main
      class="min-h-screen w-full bg-gradient-to-l from-purple-600 to-indigo-600"
    >
      <Header title="Login to use the dashboard" />
      <Auth client:only="react" />
    </main>
  </body>
</html>
